<table>
    <tr>
        <th>公司</th>
        <td>
            <input type="text" dddwinput dddw-name="DDDW_CORP_NO" ng-model="condition.CORP_NO" erp-char-width-input-display="[10,6]" dddw-char-width-label="10">
        </td>
    </tr>
    <tr>
        <th>營業部門</th>
        <td>
            <input type="text" dddwinput dddw-name="DDDW_DEPM_NO" ng-model="condition.DEPM_NO" erp-char-width-input-display="[10,6]" dddw-char-width-label="10">
        </td>
    </tr>
    <tr>
        <th>服務據點</th>
        <td>
            <input type="text" dddwinput dddw-name="DDDW_SER_NO" dddw-templatedefstype="SERVE" ng-model="condition.SER_NO" erp-char-width-input-display="[10,6]" dddw-char-width-label="10">
        </td>
    </tr>
    <tr>
        <th>
            員工代號
        </th>
        <td>
            <input type="text" dddwinput dddw-name="DDDW_EMP_NO" ng-model="condition.EMP_NO" erp-char-width-input-display="[10,6]" dddw-char-width-label="10">
        </td>
    </tr>
    <tr>
        <th>
            中文姓名
        </th>
        <td>
            <input type="text" ng-model="condition.EMP_NM" erp-char-width-input-display="[10,20]" />
        </td>
    </tr>
    <tr>
        <th>
            身分證統一編號
        </th>
        <td>
            <input type="text" ng-model="condition.ID_NO" erp-char-width-input-display="[10,20]" />
        </td>
    </tr>
</table>