<table>
    <tr>
        <th>公司別</th>
        <td>
            <input type="text" dddwinput dddw-name="DDDW_CORP_NO" ng-model="model.CORP_NO" erp-char-width-input-display="[10,6]" dddw-char-width-label="10">
        </td>
        <th>薪資等級</th>
        <td>
            <input type="text" ng-model="model.SLV_NO" erp-char-width-input-display="[10,20]">
        </td>
        <th>等級名稱</th>
        <td>
            <input type="text" ng-model="model.SLV_NM" erp-char-width-input-display="[20,20]">
        </td>
        <th>薪資總額</th>
        <td>
            <input type="text" ng-model="model.AMT" style="text-align:right;" decimals="6" decimal-point="." erp-char-width-input-display="[18,20]">
        </td>
    </tr>
    <!--<tr>
        <th>備註</th>
        <td colspan="7">
            <textarea rows="4" style="width: 100%;" maxlength="255" ng-model="model.REMK"></textarea>
        </td>
    </tr>-->
</table>


<p-dataTable [value]="SLVDL">
    <p-column field="PMS_NO" header="薪資代號"></p-column>
    <p-column field="C_PRD" header="期別"></p-column>
    <p-column field="AMT" header="金額"></p-column>
    <p-column field="REMK" header="備註"></p-column>
</p-dataTable>