<p-dataTable [value]="AJSVCHDL">
    <p-column field="VCH_TY" header="異動單別"></p-column>
    <p-column field="VCH_NO" header="異動單號"></p-column>
    <p-column field="C_SOURCE" header="來源別"></p-column>
    <p-column field="VCH_DT" header="單據日期"></p-column>
    <p-column field="AVCH_TY" header="傳票別"></p-column>
    <p-column field="AVCH_NO" header="傳票編號"></p-column>
    <p-column field="AVCH_DT" header="傳票日期"></p-column>
    <p-column field="AJS_DT" header="拋轉日期"></p-column>
    <p-column field="AJS_USR_NO" header="拋轉人員"></p-column>
</p-dataTable>