<p-dataTable [value]="CITEM">
    <p-column field="CITEM_NO" header="合約項目代號"></p-column>
    <p-column field="CITEM_NM" header="合約項目全名"></p-column>
    <p-column field="CITEM_TY" header="項目別"></p-column>
    <p-column field="VITEM_NO" header="發票項目代號"></p-column>
    <p-column field="DR_ACT_NODescr" header="借方科目"></p-column>
    <p-column field="DR_BCH_NO" header="借方立沖"></p-column>
    <p-column field="CR_ACT_NODescr" header="貸方科目"></p-column>
    <p-column field="CR_BCH_NO" header="貸方立沖"></p-column>
    <p-column field="REMK" header="備註"></p-column>
</p-dataTable>