<p-dataTable [value]="CUSTOMER">
    <p-column field="CS_NO" header="客戶代號"></p-column>
    <p-column field="SHORT_NM" header="客戶簡稱"></p-column>
    <p-column field="FULL_NM" header="客戶全名"></p-column>
    <p-column field="ADDR" header="公司地址"></p-column>
    <p-column field="UNIQUE_NO" header="統一編號"></p-column>
    <p-column field="PROPRIETOR" header="負責人"></p-column>
    <p-column field="CONTACTER" header="聯絡人"></p-column>
    <p-column field="TEL_NO" header="電話"></p-column>
    <p-column field="FAX_NO" header="傳真"></p-column>
    <p-column field="CORP_NODescr" header="公司別"></p-column>
    <p-column field="DEPM_NODescr" header="營業部門"></p-column>

</p-dataTable>