<table>
    <tr>
        <th>裝備代號</th>
        <td>
            <input type="text" ng-model="model.EQUIP_NO" erp-key erp-char-width-input-display="[20,20]">
        </td>
        <th>裝備名稱</th>
        <td>
            <input type="text" ng-model="model.EQUIP_NM" erp-char-width-input-display="[60,20]">
        </td>
    </tr>
    <!--<tr>
        <th>庫存單位</th>
        <td>
            <input type="text" ng-model="model.UNIT" erp-char-width-input-display="[4,20]">
        </td>
        <th>單價</th>
        <td>
            <input type="text" ng-model="model.PRC" style="text-align:right;" decimals="4" decimal-point="." erp-char-width-input-display="[18,20]">
        </td>
    </tr>-->
</table>

<table>
    <tr>
        <th>庫存單位</th>
        <td>
            <input type="text" ng-model="model.UNIT" erp-char-width-input-display="[4,20]">
        </td>
        <th>單價</th>
        <td>
            <input type="text" ng-model="model.PRC" style="text-align:right;" decimals="4" decimal-point="." erp-char-width-input-display="[18,20]">
        </td>
    </tr>
</table>
