<table>
    <tr>
        <th>單別</th>
        <td>
            <input id="VCH_TY" type="text" ng-model="condition.VCH_TY" erp-char-width-input-display="[4,5]"><select ng-model="condition.VCH_TY" ng-options="item.Value as item.Display for item in modeldddw.DDDW_VCH_TY_AT" erp-char-width-input-display="[4,14]">
                <option value=""></option>
            </select>
        </td>
    </tr>
    <tr>
        <th>單號</th>
        <td>
            <input id="VCH_NO" type="text" ng-model="condition.VCH_NO" erp-char-width-input-display="[20,20]">
        </td>
    </tr>

</table>