<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SSoft.Properties.Settings.FundConnectionString" connectionString="Data Source=.;Initial Catalog=Fund;Persist Security Info=True;User ID=sa;Password=mssql" providerName="System.Data.SqlClient"/>
        <add name="SSoft.Properties.Settings.MESSOAWEBConnectionString" connectionString="Data Source=.;Initial Catalog=MESSOAWEB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
