<h1>pnlmat01</h1>


<command-button [menuType]="scope.menuType"></command-button>

<p-tabView>
    <!--<p-tabPanel *ngFor="let tab of items" [header]="tab.label">
        {{tab.label}}
    </p-tabPanel>-->
    <p-tabPanel header="資料維護" style=" background-color:aqua;">
        <div >
            <pnlmat01-entry></pnlmat01-entry>
        </div>
        <!--<ng-container *ngComponentOutlet="EntryComponet"></ng-container>-->
    </p-tabPanel>
    <p-tabPanel header="查詢條件">
        <pnlmat01-codition></pnlmat01-codition>
    </p-tabPanel>
    <p-tabPanel header="查詢輸出">
        <pnlmat01-query></pnlmat01-query>
    </p-tabPanel>

</p-tabView>