<p-dataTable [value]="ISUID">
    <p-column field="ISU_NO" header="保險代號"></p-column>
    <p-column field="ISU_NM" header="保險名稱"></p-column>
    <p-column field="ISU_TY" header="保險類別"></p-column>
    <p-column field="C_PRD" header="期別"></p-column>
    <p-column field="PMS_NO" header="扣款代號"></p-column>
    <p-column field="EXP_RT" header="保險費率"></p-column>
    <p-column field="YEE_RT" header="員工負擔比率"></p-column>
    <p-column field="YER_RT" header="公司負擔比率"></p-column>
    <p-column field="MAX_GRD" header="投保最高級數"></p-column>
    <p-column field="C_PT_TY" header="殘月計算方式"></p-column>
    <p-column field="DR_ACT_NODescr" header="費用科目"></p-column>
    <p-column field="C_DEPM_DRDescr" header="傳票帶部門(費用)"></p-column>
    <p-column field="C_EMP_DRDescr" header="傳票帶員工(費用)"></p-column>
    <p-column field="CR_ACT_NODescr" header="應付科目"></p-column>
    <p-column field="C_DEPM_CRDescr" header="傳票帶部門(應付)"></p-column>
    <p-column field="C_EMP_CRDescr" header="傳票帶員工(應付)"></p-column>
</p-dataTable>