<h1>actmat03</h1>


<command-button [menuType]="scope.menuType"></command-button>

<p-tabView>
    <!--<p-tabPanel *ngFor="let tab of items" [header]="tab.label">
        {{tab.label}}
    </p-tabPanel>-->
    <p-tabPanel header="資料維護" style=" background-color:aqua;">
        <div >
            <actmat03-entry></actmat03-entry>
        </div>
        <!--<ng-container *ngComponentOutlet="EntryComponet"></ng-container>-->
    </p-tabPanel>
    <p-tabPanel header="查詢條件">
        <actmat03-codition></actmat03-codition>
    </p-tabPanel>
    <p-tabPanel header="查詢輸出">
        <actmat03-query></actmat03-query>
    </p-tabPanel>

</p-tabView>