<table>
    <tr>
        <td>合約編號</td>
        <td>
            <input type="text" ng-model="condition.CN_NO" erp-char-width-input-display="[20,20]">
        </td>
    </tr>
    <tr>
        <td>合約文號</td>
        <td>
            <input type="text" ng-model="condition.DOC_NO" erp-char-width-input-display="[20,20]">
        </td>
    </tr>
    <tr>
        <td>合約全名</td>
        <td>
            <input type="text" ng-model="condition.FULL_NM" erp-char-width-input-display="[80,20]">
        </td>
    </tr>
    <tr>
        <td>合約簡稱</td>
        <td>
            <input type="text" ng-model="condition.SHORT_NM" erp-char-width-input-display="[80,20]">
        </td>
    </tr>
</table>