<h1>copmat11</h1>


<command-button [menuType]="scope.menuType"></command-button>

<p-tabView>
    <!--<p-tabPanel *ngFor="let tab of items" [header]="tab.label">
        {{tab.label}}
    </p-tabPanel>-->
    <p-tabPanel header="資料維護" style=" background-color:aqua;">
        <div >
            <copmat11-entry></copmat11-entry>
        </div>
        <!--<ng-container *ngComponentOutlet="EntryComponet"></ng-container>-->
    </p-tabPanel>
    <p-tabPanel header="查詢條件">
        <copmat11-codition></copmat11-codition>
    </p-tabPanel>
    <p-tabPanel header="查詢輸出">
        <copmat11-query></copmat11-query>
    </p-tabPanel>

</p-tabView>