<h1>copmat07</h1>


<command-button [menuType]="scope.menuType"></command-button>

<p-tabView>
    <!--<p-tabPanel *ngFor="let tab of items" [header]="tab.label">
        {{tab.label}}
    </p-tabPanel>-->
    <p-tabPanel header="資料維護" style=" background-color:aqua;">
        <div >
            <copmat07-entry></copmat07-entry>
        </div>
        <!--<ng-container *ngComponentOutlet="EntryComponet"></ng-container>-->
    </p-tabPanel>
    <p-tabPanel header="查詢條件">
        <copmat07-codition></copmat07-codition>
    </p-tabPanel>
    <p-tabPanel header="查詢輸出">
        <copmat07-query></copmat07-query>
    </p-tabPanel>

</p-tabView>