<h1>pnlmat23</h1>


<command-button [menuType]="scope.menuType"></command-button>

<p-tabView>
    <!--<p-tabPanel *ngFor="let tab of items" [header]="tab.label">
        {{tab.label}}
    </p-tabPanel>-->
    <p-tabPanel header="資料維護" style=" background-color:aqua;">
        <div >
            <pnlmat23-entry></pnlmat23-entry>
        </div>
        <!--<ng-container *ngComponentOutlet="EntryComponet"></ng-container>-->
    </p-tabPanel>
    <p-tabPanel header="查詢條件">
        <pnlmat23-codition></pnlmat23-codition>
    </p-tabPanel>
    <p-tabPanel header="查詢輸出">
        <pnlmat23-query></pnlmat23-query>
    </p-tabPanel>

</p-tabView>