<table>
    <tr>
        <th>公司代碼</th>
        <td>
            <input type="text" ng-model="model.CORP_NO" erp-key erp-char-width-input-display="[10,20]">
        </td>
        <th>公司名稱</th>
        <td>
            <input type="text" ng-model="model.CORP_NM" erp-char-width-input-display="[80,20]">
        </td>
        <th>公司簡稱</th>
        <td>
            <input type="text" ng-model="model.SHORT_NM" erp-char-width-input-display="[20,20]">
        </td>
        <!--<th>郵遞區號</th>
        <td>
            <input type="text" ng-model="model.ZNO_ADDR" erp-char-width-input-display="[10,20]">
        </td>-->
    </tr>
    <!--<tr>

        <th>稅籍編號</th>
        <td>
            <input type="text" ng-model="model.TAXRGT_NO" erp-char-width-input-display="[20,20]">
        </td>
        <th>地址</th>
        <td colspan="3">
            <input type="text" ng-model="model.ADDR" erp-char-width-input-display="[80, 52]">
        </td>

    </tr>
    <tr>
        <th>負責人</th>
        <td>
            <input type="text" ng-model="model.PROPRIETOR" erp-char-width-input-display="[20,20]">
        </td>
        <th>聯絡人</th>
        <td>
            <input type="text" ng-model="model.CONTACTER" erp-char-width-input-display="[20,20]">
        </td>
        <th>電話</th>
        <td>
            <input type="text" ng-model="model.TEL_NO" erp-char-width-input-display="[20,20]">
        </td>
        <th>電話2</th>
        <td>
            <input type="text" ng-model="model.TEL_NO2" erp-char-width-input-display="[20,20]">
        </td>
    </tr>
    <tr>
        <th>電話3</th>
        <td>
            <input type="text" ng-model="model.TEL_NO3" erp-char-width-input-display="[20,20]">
        </td>
        <th>傳真</th>
        <td>
            <input type="text" ng-model="model.FAX_NO" erp-char-width-input-display="[20,20]">
        </td>
        <th>銀行行號</th>
        <td>
            <input type="text" ng-model="model.BANK_NO" erp-char-width-input-display="[10,20]">
        </td>
        <th>銀行戶名</th>
        <td>
            <input type="text" ng-model="model.ACC_NM" erp-char-width-input-display="[80,20]">
        </td>
    </tr>
    <tr>
        <th>銀行帳號</th>
        <td>
            <input type="text" ng-model="model.ACC_NO" erp-char-width-input-display="[80,20]">
        </td>
        <th>所屬稅捐處縣市</th>
        <td>
            <input type="text" ng-model="model.TAX_CITY" erp-char-width-input-display="[10,20]">
        </td>
        <th>所屬稅捐處分處</th>
        <td>
            <input type="text" ng-model="model.TAX_DEPM" erp-char-width-input-display="[10,20]">
        </td>
        <th>稽徵機關代號</th>
        <td>
            <input type="text"  ng-model="model.GVM_NO" erp-char-width-input-display="[10,20]">
        </td>
    </tr>
    <tr>
        <th>媒體單位代號</th>
        <td>
            <input type="text" ng-model="model.DCL_NO" erp-char-width-input-display="[10,20]">
        </td>
        <th>扣繳義務人</th>
        <td>
            <input type="text" ng-model="model.DUTY_NM" erp-char-width-input-display="[20,20]">
        </td>
        <th>勞工保險證</th>
        <td>
            <input type="text" ng-model="model.LIS_ID" erp-char-width-input-display="[20,20]">
        </td>
        <th>全民健保代號</th>
        <td>
            <input type="text" ng-model="model.HIS_ID" erp-char-width-input-display="[10,20]">
        </td>
    </tr>
    <tr>
        <th>借方往來科目</th>
        <td>
            <input type="text" dddwinput dddw-name="DDDW_ACTNO" ng-model="model.DR_ACT_NO" erp-char-width-input-display="[10,6]" dddw-char-width-label="10">
        </td>
        <th>貸方往來科目</th>
        <td colspan="5">
            <input type="text" dddwinput dddw-name="DDDW_ACTNO" ng-model="model.CR_ACT_NO" erp-char-width-input-display="[10,6]" dddw-char-width-label="10">
        </td>
    </tr>
    <tr>
        <th>備註</th>
        <td colspan="7">
            <textarea rows="4" style="width: 100%;" maxlength="255" ng-model="model.REMK"></textarea>
        </td>
    </tr>-->
</table>
<table>
    <tr>
        <th>統一編號</th>
        <td>
            <input type="text" ng-model="model.UNIQUE_NO" erp-char-width-input-display="[20,20]">
        </td>
        <th>稅籍編號</th>
        <td>
            <input type="text" ng-model="model.TAXRGT_NO" erp-char-width-input-display="[20,20]">
        </td>
        <th>負責人</th>
        <td>
            <input type="text" ng-model="model.PROPRIETOR" erp-char-width-input-display="[20,20]">
        </td>
        <th>聯絡人</th>
        <td>
            <input type="text" ng-model="model.CONTACTER" erp-char-width-input-display="[20,20]">
        </td>
    </tr>
    <tr>
        <th>電話</th>
        <td>
            <input type="text" ng-model="model.TEL_NO" erp-char-width-input-display="[20,20]">
        </td>
        <th>電話2</th>
        <td>
            <input type="text" ng-model="model.TEL_NO2" erp-char-width-input-display="[20,20]">
        </td>
        <th>電話3</th>
        <td>
            <input type="text" ng-model="model.TEL_NO3" erp-char-width-input-display="[20,20]">
        </td>
        <th>傳真</th>
        <td>
            <input type="text" ng-model="model.FAX_NO" erp-char-width-input-display="[20,20]">
        </td>
    </tr>
    <tr>
        <th>郵遞區號</th>
        <td>
            <input type="text" ng-model="model.ZNO_ADDR" erp-char-width-input-display="[10,20]">
        </td>
        <th>地址</th>
        <td colspan="3">
            <input type="text" ng-model="model.ADDR" erp-char-width-input-display="[80, 52]">
        </td>

    </tr>
    <!--<tr>


        <th>銀行行號</th>
        <td>
            <input type="text" ng-model="model.BANK_NO" erp-char-width-input-display="[10,20]">
        </td>
        <th>銀行戶名</th>
        <td>
            <input type="text" ng-model="model.ACC_NM" erp-char-width-input-display="[80,20]">
        </td>
    </tr>
    <tr>
        <th>銀行帳號</th>
        <td>
            <input type="text" ng-model="model.ACC_NO" erp-char-width-input-display="[80,20]">
        </td>
        <th>所屬稅捐處縣市</th>
        <td>
            <input type="text" ng-model="model.TAX_CITY" erp-char-width-input-display="[10,20]">
        </td>
        <th>所屬稅捐處分處</th>
        <td>
            <input type="text" ng-model="model.TAX_DEPM" erp-char-width-input-display="[10,20]">
        </td>
        <th>稽徵機關代號</th>
        <td>
            <input type="text"  ng-model="model.GVM_NO" erp-char-width-input-display="[10,20]">
        </td>
    </tr>
    <tr>
        <th>媒體單位代號</th>
        <td>
            <input type="text" ng-model="model.DCL_NO" erp-char-width-input-display="[10,20]">
        </td>
        <th>扣繳義務人</th>
        <td>
            <input type="text" ng-model="model.DUTY_NM" erp-char-width-input-display="[20,20]">
        </td>
        <th>勞工保險證</th>
        <td>
            <input type="text" ng-model="model.LIS_ID" erp-char-width-input-display="[20,20]">
        </td>
        <th>全民健保代號</th>
        <td>
            <input type="text" ng-model="model.HIS_ID" erp-char-width-input-display="[10,20]">
        </td>
    </tr>
    <tr>
        <th>借方往來科目</th>
        <td>
            <input type="text" dddwinput dddw-name="DDDW_ACTNO" ng-model="model.DR_ACT_NO" erp-char-width-input-display="[10,6]" dddw-char-width-label="10">
        </td>
        <th>貸方往來科目</th>
        <td colspan="5">
            <input type="text" dddwinput dddw-name="DDDW_ACTNO" ng-model="model.CR_ACT_NO" erp-char-width-input-display="[10,6]" dddw-char-width-label="10">
        </td>
    </tr>
    <tr>
        <th>備註</th>
        <td colspan="7">
            <textarea rows="4" style="width: 100%;" maxlength="255" ng-model="model.REMK"></textarea>
        </td>
    </tr>-->
</table>
<table>
    <tr>
        <th>銀行行號</th>
        <td>
            <input type="text" ng-model="model.BANK_NO" erp-char-width-input-display="[10,20]">
        </td>
        <th>銀行戶名</th>
        <td>
            <input type="text" ng-model="model.ACC_NM" erp-char-width-input-display="[80,20]">
        </td>
        <th>銀行帳號</th>
        <td>
            <input type="text" ng-model="model.ACC_NO" erp-char-width-input-display="[80,20]">
        </td>
        <th>所屬稅捐處縣市</th>
        <td>
            <input type="text" ng-model="model.TAX_CITY" erp-char-width-input-display="[10,20]">
        </td>
    </tr>
    <tr>
        <th>所屬稅捐處分處</th>
        <td>
            <input type="text" ng-model="model.TAX_DEPM" erp-char-width-input-display="[10,20]">
        </td>
        <th>稽徵機關代號</th>
        <td>
            <input type="text" ng-model="model.GVM_NO" erp-char-width-input-display="[10,20]">
        </td>
        <th>媒體單位代號</th>
        <td>
            <input type="text" ng-model="model.DCL_NO" erp-char-width-input-display="[10,20]">
        </td>
        <th>扣繳義務人</th>
        <td>
            <input type="text" ng-model="model.DUTY_NM" erp-char-width-input-display="[20,20]">
        </td>
    </tr>
    <tr>
        <th>勞工保險證</th>
        <td>
            <input type="text" ng-model="model.LIS_ID" erp-char-width-input-display="[20,20]">
        </td>
        <th>全民健保代號</th>
        <td>
            <input type="text" ng-model="model.HIS_ID" erp-char-width-input-display="[10,20]">
        </td>
        <th>借方往來科目</th>
        <td>
            <input type="text" dddwinput dddw-name="DDDW_ACTNO" ng-model="model.DR_ACT_NO" erp-char-width-input-display="[10,6]" dddw-char-width-label="10">
        </td>
        <th>貸方往來科目</th>
        <td>
            <input type="text" dddwinput dddw-name="DDDW_ACTNO" ng-model="model.CR_ACT_NO" erp-char-width-input-display="[10,6]" dddw-char-width-label="10">
        </td>

    </tr>
</table>