<h1>pnlmat02</h1>


<command-button [menuType]="scope.menuType"></command-button>

<p-tabView>
    <!--<p-tabPanel *ngFor="let tab of items" [header]="tab.label">
        {{tab.label}}
    </p-tabPanel>-->
    <p-tabPanel header="資料維護" style=" background-color:aqua;">
        <div >
            <pnlmat02-entry></pnlmat02-entry>
        </div>
        <!--<ng-container *ngComponentOutlet="EntryComponet"></ng-container>-->
    </p-tabPanel>
    <p-tabPanel header="查詢條件">
        <pnlmat02-codition></pnlmat02-codition>
    </p-tabPanel>
    <p-tabPanel header="查詢輸出">
        <pnlmat02-query></pnlmat02-query>
    </p-tabPanel>

</p-tabView>