<p-dataTable [value]="PMSNO">
    <p-column field="PMS_NO" header="薪資項目代號"></p-column>
    <p-column field="PMS_NM" header="薪資項目名稱"></p-column>
    <p-column field="NAME_NO_1" header="內部名稱"></p-column>
    <p-column field="NAME_NO_2" header="外部名稱"></p-column>
    <p-column field="IO" header="加減項"></p-column>
    <p-column field="C_SLY" header="廣義底薪"></p-column>
    <p-column field="C_WF" header="計福利金"></p-column>
    <p-column field="C_ADD" header="計補充保費"></p-column>
    <p-column field="C_IJT" header="計執行命令扣款"></p-column>
    <p-column field="C_FRL" header="計請假扣款"></p-column>
    <p-column field="C_TAX" header="屬課所得稅"></p-column>
    <p-column field="C_CAL_TY" header="計算方式"></p-column>
    <p-column field="C_CST" header="計成本費用"></p-column>
    <p-column field="AMT_RT" header="金額比率"></p-column>
    <p-column field="DR_ACT_NO" header="費用科目"></p-column>
    <p-column field="CR_ACT_NO" header="貸方科目"></p-column>
    <p-column field="C_DEPM_DR" header="傳票帶部門(費用)"></p-column>
    <p-column field="C_EMP_DR" header="傳票帶員工(費用)"></p-column>
    <p-column field="C_DEPM_CR" header="傳票帶部門(應付)"></p-column>
    <p-column field="C_EMP_CR" header="傳票帶員工(應付)"></p-column>
    <p-column field="CAL_SR" header="計算順序"></p-column>
    <p-column field="DISP_SR" header="分配順序"></p-column>
</p-dataTable>