<h1>pnlmat32</h1>


<command-button [menuType]="scope.menuType"></command-button>

<p-tabView>
    <!--<p-tabPanel *ngFor="let tab of items" [header]="tab.label">
        {{tab.label}}
    </p-tabPanel>-->
    <p-tabPanel header="資料維護" style=" background-color:aqua;">
        <div >
            <pnlmat32-entry></pnlmat32-entry>
        </div>
        <!--<ng-container *ngComponentOutlet="EntryComponet"></ng-container>-->
    </p-tabPanel>
    <p-tabPanel header="查詢條件">
        <pnlmat32-codition></pnlmat32-codition>
    </p-tabPanel>
    <p-tabPanel header="查詢輸出">
        <pnlmat32-query></pnlmat32-query>
    </p-tabPanel>

</p-tabView>