<h1>copmat02</h1>


<command-button [menuType]="scope.menuType"></command-button>

<p-tabView>
    <!--<p-tabPanel *ngFor="let tab of items" [header]="tab.label">
        {{tab.label}}
    </p-tabPanel>-->
    <p-tabPanel header="資料維護" style=" background-color:aqua;">
        <div >
            <copmat02-entry></copmat02-entry>
        </div>
        <!--<ng-container *ngComponentOutlet="EntryComponet"></ng-container>-->
    </p-tabPanel>
    <p-tabPanel header="查詢條件">
        <copmat02-codition></copmat02-codition>
    </p-tabPanel>
    <p-tabPanel header="查詢輸出">
        <copmat02-query></copmat02-query>
    </p-tabPanel>

</p-tabView>