<h1>pnlmat14</h1>


<command-button [menuType]="scope.menuType"></command-button>

<p-tabView>
    <!--<p-tabPanel *ngFor="let tab of items" [header]="tab.label">
        {{tab.label}}
    </p-tabPanel>-->
    <p-tabPanel header="資料維護" style=" background-color:aqua;">
        <div >
            <pnlmat14-entry></pnlmat14-entry>
        </div>
        <!--<ng-container *ngComponentOutlet="EntryComponet"></ng-container>-->
    </p-tabPanel>
    <p-tabPanel header="查詢條件">
        <pnlmat14-codition></pnlmat14-codition>
    </p-tabPanel>
    <p-tabPanel header="查詢輸出">
        <pnlmat14-query></pnlmat14-query>
    </p-tabPanel>

</p-tabView>