<h1>pnlmat26</h1>


<command-button [menuType]="scope.menuType"></command-button>

<p-tabView>
    <!--<p-tabPanel *ngFor="let tab of items" [header]="tab.label">
        {{tab.label}}
    </p-tabPanel>-->
    <p-tabPanel header="資料維護" style=" background-color:aqua;">
        <div >
            <pnlmat26-entry></pnlmat26-entry>
        </div>
        <!--<ng-container *ngComponentOutlet="EntryComponet"></ng-container>-->
    </p-tabPanel>
    <p-tabPanel header="查詢條件">
        <pnlmat26-codition></pnlmat26-codition>
    </p-tabPanel>
    <p-tabPanel header="查詢輸出">
        <pnlmat26-query></pnlmat26-query>
    </p-tabPanel>

</p-tabView>