<table class="table table-bordered">
    <tr>
        <th>機構代號</th>
        <td>
            <input type="text" ng-model="model.BANK_NO" style="width:95%;" maxlength="10" />
        </td>
        <th>簡稱</th>
        <td>
            <input type="text" ng-model="model.BANK_NM" style="width:95%;" maxlength="80" />
        </td>
        <!--<th>英文簡稱</th>
        <td>
            <input type="text" ng-model="model.BANK_NM_E" style="width:95%;" maxlength="80" />
        </td>-->
        <th>全名</th>
        <td>
            <input type="text" ng-model="model.FULL_NM" style="width:95%;" maxlength="80" />
        </td>
    </tr>
    <!--<tr>
        <th>英文全名</th>
        <td>
            <input type="text" ng-model="model.FULL_NM_E" style="width:95%;" maxlength="80" />
        </td>
        <th>銀行戶名</th>
        <td>
            <input type="text" ng-model="model.ACC_NM" style="width:95%;" maxlength="80" />
        </td>
        <th>總行代號</th>
        <td>
            <input type="text" ng-model="model.HEAD_NO" style="width:95%;" maxlength="10" />
        </td>
        <th>總行名稱</th>
        <td>
            <input type="text" ng-model="model.HEAD_NM" style="width:95%;" maxlength="80" />
        </td>
    </tr>
    <tr>
        <th>分行代號</th>
        <td>
            <input type="text" ng-model="model.BRANCH_NO" style="width:95%;" maxlength="10" />
        </td>
        <th>分行名稱</th>
        <td>
            <input type="text" ng-model="model.BRANCH_NM" style="width:95%;" maxlength="80" />
        </td>
        <th>機構類別</th>
        <td>
            <input type="text" ng-model="model.CLAS_NO" style="width:95%;" maxlength="10" />
        </td>
        <th>聯絡人</th>
        <td>
            <input type="text" ng-model="model.CONTACTER" style="width:95%;" maxlength="30" />
        </td>
    </tr>
    <tr>
        <th>聯絡人2</th>
        <td>
            <input type="text" ng-model="model.CONTACTER2" style="width:95%;" maxlength="30" />
        </td>
        <th>聯絡人3</th>
        <td>
            <input type="text" ng-model="model.CONTACTER3" style="width:95%;" maxlength="30" />
        </td>
        <th>電話</th>
        <td>
            <input type="text" ng-model="model.TEL_NO" style="width:95%;" maxlength="20" />
        </td>
        <th>電話2</th>
        <td>
            <input type="text" ng-model="model.TEL_NO2" style="width:95%;" maxlength="20" />
        </td>
    </tr>
    <tr>
        <th>電話3</th>
        <td>
            <input type="text" ng-model="model.TEL_NO3" style="width:95%;" maxlength="20" />
        </td>
        <th>傳真</th>
        <td>
            <input type="text" ng-model="model.FAX_NO" style="width:95%;" maxlength="20" />
        </td>
        <th>EMAIL</th>
        <td>
            <input type="text" ng-model="model.E_MAIL" style="width:95%;" maxlength="80" />
        </td>
        <th>網址</th>
        <td>
            <input type="text" ng-model="model.WWW" style="width:95%;" maxlength="80" />
        </td>
    </tr>
    <tr>
        <th>地址</th>
        <td>
            <input type="text" ng-model="model.ADDR" style="width:95%;" maxlength="80" />
        </td>
        <th>地址_英文</th>
        <td>
            <input type="text" ng-model="model.ADDR_E" style="width:95%;" maxlength="80" />
        </td>
        <th>地址2</th>
        <td>
            <input type="text" ng-model="model.ADDR2" style="width:95%;" maxlength="80" />
        </td>
        <th>地址2_英文</th>
        <td>
            <input type="text" ng-model="model.ADDR2_E" style="width:95%;" maxlength="80" />
        </td>
    </tr>
    <tr>
        <th>備註</th>
        <td colspan="7">
            <textarea rows="4" style="width: 95%; max-width:95%;" maxlength="255" ng-model="model.REMK"></textarea>
        </td>
    </tr>-->

</table>

<table class="table table-bordered">
    <tr>
        <th>英文全名</th>
        <td>
            <input type="text" ng-model="model.FULL_NM_E" style="width:95%;" maxlength="80" />
        </td>
        <th>英文簡稱</th>
        <td>
            <input type="text" ng-model="model.BANK_NM_E" style="width:95%;" maxlength="80" />
        </td>
        <th>總行代號</th>
        <td>
            <input type="text" ng-model="model.HEAD_NO" style="width:95%;" maxlength="10" />
        </td>
        <th>總行名稱</th>
        <td>
            <input type="text" ng-model="model.HEAD_NM" style="width:95%;" maxlength="80" />
        </td>
    </tr>
    <tr>
        <th>分行代號</th>
        <td>
            <input type="text" ng-model="model.BRANCH_NO" style="width:95%;" maxlength="10" />
        </td>
        <th>分行名稱</th>
        <td>
            <input type="text" ng-model="model.BRANCH_NM" style="width:95%;" maxlength="80" />
        </td>
        <th>銀行戶名</th>
        <td>
            <input type="text" ng-model="model.ACC_NM" style="width:95%;" maxlength="80" />
        </td>
        <th>機構類別</th>
        <td>
            <input type="text" ng-model="model.CLAS_NO" style="width:95%;" maxlength="10" />
        </td>
    </tr>
    <tr>
        <th>網址</th>
        <td colspan="7">
            <input type="text" ng-model="model.WWW" style="width:95%;" maxlength="80" />
        </td>
    </tr>
</table>

<table class="table table-bordered">
    <tr>
        <th>聯絡人</th>
        <td>
            <input type="text" ng-model="model.CONTACTER" style="width:95%;" maxlength="30" />
        </td>
        <th>聯絡人2</th>
        <td>
            <input type="text" ng-model="model.CONTACTER2" style="width:95%;" maxlength="30" />
        </td>
        <th>聯絡人3</th>
        <td>
            <input type="text" ng-model="model.CONTACTER3" style="width:95%;" maxlength="30" />
        </td>
        <th>電話</th>
        <td>
            <input type="text" ng-model="model.TEL_NO" style="width:95%;" maxlength="20" />
        </td>
    </tr>
    <tr>
        <th>電話2</th>
        <td>
            <input type="text" ng-model="model.TEL_NO2" style="width:95%;" maxlength="20" />
        </td>
        <th>電話3</th>
        <td>
            <input type="text" ng-model="model.TEL_NO3" style="width:95%;" maxlength="20" />
        </td>
        <th>傳真</th>
        <td>
            <input type="text" ng-model="model.FAX_NO" style="width:95%;" maxlength="20" />
        </td>
        <th>EMAIL</th>
        <td>
            <input type="text" ng-model="model.E_MAIL" style="width:95%;" maxlength="80" />
        </td>
    </tr>
    <tr>
        <th>地址</th>
        <td>
            <input type="text" ng-model="model.ADDR" style="width:95%;" maxlength="80" />
        </td>
        <th>地址_英文</th>
        <td>
            <input type="text" ng-model="model.ADDR_E" style="width:95%;" maxlength="80" />
        </td>
        <th>地址2</th>
        <td>
            <input type="text" ng-model="model.ADDR2" style="width:95%;" maxlength="80" />
        </td>
        <th>地址2_英文</th>
        <td>
            <input type="text" ng-model="model.ADDR2_E" style="width:95%;" maxlength="80" />
        </td>
    </tr>
</table>

