<table>
    <tr>
        <th>保險補助代號</th>
        <td>
            <input type="text" ng-model="model.ADD_NO" erp-char-width-input-display="[10,20]">
        </td>
        <th>保險補助名稱
        <td>
            <input type="text" ng-model="model.ADD_NM" erp-char-width-input-display="[20,20]">
        </td>
        <th>補助比率</th>
        <td>
            <input type="text" ng-model="model.ADD_RT" style="text-align:right;" decimals="6" decimal-point="." erp-char-width-input-display="[18,20]">
        </td>
    </tr>
</table>

